.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
  font-size: 2.5em; /* Increase size of main title */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Add shadow to header */
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.current-price {
  background-color: #3c4043; /* Slightly lighter background for current price section */
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow for depth */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #3c4043; /* Table background */
  border-radius: 8px;
  overflow: hidden; /* Ensure rounded corners show */
}

th,
td {
  padding: 12px;
  border: 1px solid #444; /* Darker border color */
  text-align: center;
}

th {
  background-color: #4a4e54; /* Header background */
  color: #ffffff; /* Header text color */
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #323639; /* Zebra stripes for even rows */
}

tr:hover {
  background-color: #555; /* Highlight row on hover */
}

p {
  margin: 10px 0; /* Better spacing for paragraphs */
}

span {
  font-weight: bold; /* Make the "Strøm" and "Fjernvarme" bold */
}

p.italic {
  margin-top: 20px;
  font-style: italic;
  color: #ddd; /* Light grey for italic text */
  font-size: 0.6em;
}
